In [7]:
def make_global_df():
    def make_df(condition):
        df = pd.read_csv(f"data/time_{condition}.csv")
        df = (
            df.drop(["Province/State", "Country/Region", "Lat", "Long"], axis=1)
            .sum()
            .reset_index(name=condition)
        )
        df = df.rename(columns={"index": "date"})
        return df

    final_df = None
    for condition in conditions:
        condition_df = make_df(condition)
        if final_df is None:
            final_df = condition_df
        else:
            final_df = final_df.merge(condition_df)
    return final_df

make_global_df()

        date  confirmed   deaths  recovered
0    1/22/20        557       17         30
1    1/23/20        655       18         32
2    1/24/20        941       26         39
3    1/25/20       1433       42         42
4    1/26/20       2118       56         56
..       ...        ...      ...        ...
591   9/4/21  220348745  4561905          0
592   9/5/21  220775393  4568372          0
593   9/6/21  221211222  4576291          0
594   9/7/21  221932892  4586158          0
595   9/8/21  222559803  4596394          0

[596 rows x 4 columns]