In [1]:
print('hello')

hello

In [9]:
import pandas as pd
daily_df = pd.read_csv("data/daily_report.csv")
daily_df = daily_df[["Confirmed", "Deaths", "Recovered"]].sum().reset_index(name="count")
daily_df = daily_df.rename(columns={'index':'condition'})

In [11]:
daily_df

   condition     count
0  Confirmed  26075553
1     Deaths    908508
2  Recovered  17295478

In [1]:
import pandas as pd
daily_df = pd.read_csv("data/daily_report.csv")
daily_df = daily_df[["Country_Region", "Confirmed", "Deaths", "Recovered"]]
daily_df = daily_df.groupby("Country_Region").sum().reset_index()
daily_df

         Country_Region  Confirmed  Deaths  Recovered
0           Afghanistan      38243    1410      29315
1               Albania       9728     296       5582
2               Algeria      45158    1523      31746
3               Andorra       1199      53        909
4                Angola       2777     112       1115
..                  ...        ...     ...        ...
186             Vietnam       1046      34        746
187  West Bank and Gaza      23875     162      15483
188               Yemen       1976     571       1175
189              Zambia      12415     292      11494
190            Zimbabwe       6638     206       5250

[191 rows x 4 columns]

In [9]:
import pandas as pd

df = pd.read_csv("data/time_confirmed.csv")
df = df.drop(["Province/State", "Country/Region", "Lat", "Long"], axis=1).sum().reset_index(name="total")
df = df.rename(columns={'index': 'date'})
df

        date      total
0    1/22/20        557
1    1/23/20        655
2    1/24/20        941
3    1/25/20       1433
4    1/26/20       2118
..       ...        ...
591   9/4/21  220348745
592   9/5/21  220775393
593   9/6/21  221211222
594   9/7/21  221932892
595   9/8/21  222559803

[596 rows x 2 columns]

In [13]:
import pandas as pd

# Get data from three sources. 
conditions = ["confirmed", "deaths", "recovered"]

def make_df(condition):
    df = pd.read_csv(f"data/time_{condition}.csv")
    # Make like an excel spreadsheet
    df = df.drop(["Province/State", "Country/Region", "Lat", "Long"], axis=1).sum().reset_index(name="total")

    # Set the column name
    df = df.rename(columns={'index': 'date'})
    return df

# Iterate each data and make them into a dataframe.
for condition in conditions:
    condition_df = make_df(condition)
    print(condition_df)

        date      total
0    1/22/20        557
1    1/23/20        655
2    1/24/20        941
3    1/25/20       1433
4    1/26/20       2118
..       ...        ...
591   9/4/21  220348745
592   9/5/21  220775393
593   9/6/21  221211222
594   9/7/21  221932892
595   9/8/21  222559803

[596 rows x 2 columns]
        date    total
0    1/22/20       17
1    1/23/20       18
2    1/24/20       26
3    1/25/20       42
4    1/26/20       56
..       ...      ...
591   9/4/21  4561905
592   9/5/21  4568372
593   9/6/21  4576291
594   9/7/21  4586158
595   9/8/21  4596394

[596 rows x 2 columns]
        date  total
0    1/22/20     30
1    1/23/20     32
2    1/24/20     39
3    1/25/20     42
4    1/26/20     56
..       ...    ...
591   9/4/21      0
592   9/5/21      0
593   9/6/21      0
594   9/7/21      0
595   9/8/21      0

[596 rows x 2 columns]

In [24]:
import pandas as pd



# Get data from three sources. 
conditions = ["confirmed", "deaths", "recovered"]
final_df = None

def make_global_df(condition):
    df = pd.read_csv(f"data/time_{condition}.csv")
    df = (
        df.drop(["Province/State", "Country/Region", "Lat", "Long"], axis=1)
        .sum()
        .reset_index(name=condition)
    )
    df = df.rename(columns={"index": "date"})
    return df

for condition in conditions:
    condition_df = make_global_df(condition)
    if final_df is None:
        final_df = condition_df
    else:
        final_df = final_df.merge(condition_df)
        
final_df

        date  confirmed   deaths  recovered
0    1/22/20        557       17         30
1    1/23/20        655       18         32
2    1/24/20        941       26         39
3    1/25/20       1433       42         42
4    1/26/20       2118       56         56
..       ...        ...      ...        ...
591   9/4/21  220348745  4561905          0
592   9/5/21  220775393  4568372          0
593   9/6/21  221211222  4576291          0
594   9/7/21  221932892  4586158          0
595   9/8/21  222559803  4596394          0

[596 rows x 4 columns]

In [25]:
df = pd.read_csv("data/time_confirmed.csv")

# Locate a specific column that matches the condition provided.
df = df.loc[df["Country/Region"] == "Afghanistan"]
df = df.drop(columns=["Province/State", "Country/Region", "Lat", "Long"]).sum().reset_index(name="confirmed")
df = df.rename(columns={'index':"date"})
df

        date  confirmed
0    1/22/20          0
1    1/23/20          0
2    1/24/20          0
3    1/25/20          0
4    1/26/20          0
..       ...        ...
591   9/4/21     153375
592   9/5/21     153375
593   9/6/21     153534
594   9/7/21     153626
595   9/8/21     153736

[596 rows x 2 columns]