In [1]:
print('hello')

hello

In [9]:
import pandas as pd
daily_df = pd.read_csv("data/daily_report.csv")
daily_df = daily_df[["Confirmed", "Deaths", "Recovered"]].sum().reset_index(name="count")
daily_df = daily_df.rename(columns={'index':'condition'})

In [11]:
daily_df

   condition     count
0  Confirmed  26075553
1     Deaths    908508
2  Recovered  17295478

In [1]:
import pandas as pd
daily_df = pd.read_csv("data/daily_report.csv")
daily_df = daily_df[["Country_Region", "Confirmed", "Deaths", "Recovered"]]
daily_df = daily_df.groupby("Country_Region").sum().reset_index()
daily_df

         Country_Region  Confirmed  Deaths  Recovered
0           Afghanistan      38243    1410      29315
1               Albania       9728     296       5582
2               Algeria      45158    1523      31746
3               Andorra       1199      53        909
4                Angola       2777     112       1115
..                  ...        ...     ...        ...
186             Vietnam       1046      34        746
187  West Bank and Gaza      23875     162      15483
188               Yemen       1976     571       1175
189              Zambia      12415     292      11494
190            Zimbabwe       6638     206       5250

[191 rows x 4 columns]

In [9]:
import pandas as pd

df = pd.read_csv("data/time_confirmed.csv")
df = df.drop(["Province/State", "Country/Region", "Lat", "Long"], axis=1).sum().reset_index(name="total")
df = df.rename(columns={'index': 'date'})
df

        date      total
0    1/22/20        557
1    1/23/20        655
2    1/24/20        941
3    1/25/20       1433
4    1/26/20       2118
..       ...        ...
591   9/4/21  220348745
592   9/5/21  220775393
593   9/6/21  221211222
594   9/7/21  221932892
595   9/8/21  222559803

[596 rows x 2 columns]